<div class="modal-header">
  <h5 class="modal-title">Editar Veículo</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancelar()"></button>
</div>
<form (ngSubmit)="salvar()" #form="ngForm">
  <div class="modal-body">

    <div *ngIf="errorMsg" class="alert alert-danger text-center mb-3">
      {{ errorMsg }}
    </div>

    <div class='row'>
      <div class='col-md-9'>
        <div class="mb-3">
          <label for="pessoa" class="form-label">Proprietário</label>
          <input id="pessoa" name="pessoa" class="form-control" [ngbTypeahead]="searchPessoa"
            [(ngModel)]="veiculo.pessoa" [resultFormatter]="formatterPessoa" [inputFormatter]="formatterPessoa"
            [editable]="false" required />
        </div>
      </div>
      <div class='col-md-3'>
        <div class="mb-3">
          <label for="placa" class="form-label">Placa*</label>
          <input id="placa" name="placa" class="form-control" [(ngModel)]="veiculo.placa" required />
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6'>
        <div class="mb-3">
          <label for="modelo" class="form-label">Modelo</label>
          <input id="modelo" name="modelo" class="form-control" [(ngModel)]="veiculo.modelo" />
        </div>
      </div>
      <div class='col-md-3'>
        <div class="mb-3">
          <label for="cor" class="form-label">Cor</label>
          <input id="cor" name="cor" class="form-control" [(ngModel)]="veiculo.cor" />
        </div>
      </div>
      <div class='col-md-3'>
        <div class="mb-3">
          <label for="ativo" class="form-label">Ativo</label>
          <input id="ativo" name="ativo" type="checkbox" class="form-check-input ms-2" [(ngModel)]="veiculo.ativo" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col'>
        <div class="mb-3">
          <label for="dataLimite" class="form-label">Data Limite</label>
          <input id="dataLimite" name="dataLimite" type="date" class="form-control"
            [(ngModel)]="veiculo.dataLimite" />
        </div>
      </div>
      <div class='col'>
        <div class="mb-3">
          <label for="horario" class="form-label">A partir</label>
          <input id="horario" name="horario" type="time" class="form-control"
            [(ngModel)]="veiculo.horario"/>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="observacao" class="form-label">Observação</label>
            <input id="observacao" name="observacao" class="form-control" [(ngModel)]="veiculo.observacao" />
          </div>
        </div>
      </div>

    </div>

    <!--  <div class='row'>
      <div class='col-md-6'>
        <div class="mb-3">
          <label for="foto" class="form-label">Foto (URL)</label>
          <input id="foto" name="foto" class="form-control" [(ngModel)]="veiculo.foto" />
        </div>
      </div>

    </div> -->





  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Salvar</button>
  </div>
</form>
