<div class="modal-header">
  <h5 class="modal-title">Cadastro</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancelar()"></button>
</div>
<form (ngSubmit)="salvar()" #form="ngForm">
  <div class="modal-body">
    <div *ngIf="errorMsg" class="alert alert-danger text-center mb-3">{{ errorMsg }}</div>
    <div class="row">
      <div class="col-8 mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input id="nome" name="nome" class="form-control" [(ngModel)]="cadastro.nome" required />
      </div>
      <div class="col-4 mb-3">
        <label for="numFunc" class="form-label">Número Funcional</label>
        <input id="numFunc" name="numFunc" class="form-control" [(ngModel)]="cadastro.numFunc" />
      </div>

    </div>
    <div class="row">
      <div class="col-4 mb-3">
        <label for="tipoVinculo" class="form-label">Tipo de Vínculo*</label>
        <select id="tipoVinculo" name="tipoVinculo" class="form-control" [(ngModel)]="cadastro.tipoVinculo" required>
          <option value="">Selecione...</option>
          <option value="EFETIVO">EFETIVO</option>
          <option value="COMISSIONADO">COMISSIONADO</option>
          <option value="JURADO">JURADO</option>
          <option value="TERCEIRIZADO">TERCEIRIZADO</option>
          <option value="PROMOTOR">PROMOTOR</option>
          <option value="DEFENSOR">DEFENSOR</option>
          <option value="OUTROS">OUTROS</option>
        </select>
      </div>
      <div class="col-4 mb-3">
        <label for="cargo" class="form-label">Cargo</label>
        <input id="cargo" name="cargo" class="form-control" [(ngModel)]="cadastro.cargo" />
      </div>
      <div class="col-4 mb-3">
        <label for="fgOuCc" class="form-label">FG/CC</label>
        <input id="fgOuCc" name="fgOuCc" class="form-control" [(ngModel)]="cadastro.fgOuCc" />
      </div>
    </div>

    <div class="row">
      <div class="col-4 mb-3">
        <label for="lotacao" class="form-label">Lotação</label>
        <input id="lotacao" name="lotacao" class="form-control" [(ngModel)]="cadastro.lotacao" />
      </div>
      <div class="col-4 mb-3">
        <label for="ramal" class="form-label">Ramal</label>
        <input id="ramal" name="ramal" class="form-control" [(ngModel)]="cadastro.ramal" />
      </div>
      <div class="col-4 mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" name="email" class="form-control" [(ngModel)]="cadastro.email" />
      </div>
    </div>

    <div class="row">
      <div class="col-3 mb-3">
        <label for="placa" class="form-label">Placa</label>
        <input id="placa" name="placa" class="form-control" [(ngModel)]="cadastro.placa" required />
      </div>
      <div class="col-3 mb-3">
        <label for="modelo" class="form-label">Modelo</label>
        <input id="modelo" name="modelo" class="form-control" [(ngModel)]="cadastro.modelo" required />
      </div>
      <div class="col-3 mb-3">
        <label for="cor" class="form-label">Cor</label>
        <input id="cor" name="cor" class="form-control" [(ngModel)]="cadastro.cor" required />
      </div>
      <div class="col-3 mb-3">
        <label for="dataLimite" class="form-label">Data Limite</label>
        <input id="dataLimite" name="dataLimite" type="date" class="form-control" [(ngModel)]="cadastro.dataLimite" />
      </div>
    </div>

    <div class="mb-3" hidden>
      <label for="foto" class="form-label">Foto (URL)</label>
      <input id="foto" name="foto" class="form-control" [(ngModel)]="cadastro.foto" />
    </div>
    <div class="mb-3" hidden>
      <label for="temporario" class="form-label">Temporário</label>
      <input id="temporario" name="temporario" type="checkbox" class="form-check-input ms-2"
        [(ngModel)]="cadastro.temporario" />
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Salvar</button>
  </div>
</form>
