<div class="m-2">
  <div class='row'>
    <div class='col'>
      <h2>Lista de Usuários</h2>

    </div>
    <div class='col'>
      <button class="btn btn-primary" (click)="novoUsuario()">Novo Usuário</button>

    </div>
  </div>
<div *ngIf="loading">Carregando usuários...</div>
<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<table class="table table-striped" *ngIf="!loading && usuarios.length">
  <thead>
    <tr>
      <th (click)="setOrdenacao('id')" style="cursor:pointer">ID
        <span *ngIf="colunaOrdenacao==='id'">
          <i [ngClass]="{'bi bi-caret-up-fill': direcaoOrdenacao==='asc', 'bi bi-caret-down-fill': direcaoOrdenacao==='desc'}"></i>
        </span>
      </th>
      <th (click)="setOrdenacao('nome')" style="cursor:pointer">Nome
        <span *ngIf="colunaOrdenacao==='nome'">
          <i [ngClass]="{'bi bi-caret-up-fill': direcaoOrdenacao==='asc', 'bi bi-caret-down-fill': direcaoOrdenacao==='desc'}"></i>
        </span>
      </th>
      <th (click)="setOrdenacao('username')" style="cursor:pointer">Username
        <span *ngIf="colunaOrdenacao==='username'">
          <i [ngClass]="{'bi bi-caret-up-fill': direcaoOrdenacao==='asc', 'bi bi-caret-down-fill': direcaoOrdenacao==='desc'}"></i>
        </span>
      </th>
      <th (click)="setOrdenacao('email')" style="cursor:pointer">Email
        <span *ngIf="colunaOrdenacao==='email'">
          <i [ngClass]="{'bi bi-caret-up-fill': direcaoOrdenacao==='asc', 'bi bi-caret-down-fill': direcaoOrdenacao==='desc'}"></i>
        </span>
      </th>
      <th (click)="setOrdenacao('cpf')" style="cursor:pointer">CPF
        <span *ngIf="colunaOrdenacao==='cpf'">
          <i [ngClass]="{'bi bi-caret-up-fill': direcaoOrdenacao==='asc', 'bi bi-caret-down-fill': direcaoOrdenacao==='desc'}"></i>
        </span>
      </th>
      <th (click)="setOrdenacao('cadastro')" style="cursor:pointer">Cadastro
        <span *ngIf="colunaOrdenacao==='cadastro'">
          <i [ngClass]="{'bi bi-caret-up-fill': direcaoOrdenacao==='asc', 'bi bi-caret-down-fill': direcaoOrdenacao==='desc'}"></i>
        </span>
      </th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.cpf }}</td>
      <td>{{ usuario.cadastro | date:'short' }}</td>
      <td>
        <button class="btn btn-sm btn-primary me-2" (click)="abrirModalEdicao(usuario)"><i class="bi bi-pencil"></i></button>
        <button class="btn btn-sm btn-secondary me-2" (click)="resetarSenhaUsuario(usuario)"><i class="bi bi-arrow-counterclockwise"></i></button>
        <button class="btn btn-sm btn-danger" (click)="excluirUsuario(usuario)"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="!loading && !usuarios.length">Nenhum usuário encontrado.</div>
</div>
